name: Validator tests

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        sudo apt-get install -y bgpdump
        python -m pip install --upgrade pip
        if [ -f requirements-dev.txt ]; then pip install -r requirements-dev.txt; fi
    - name: Lint with flake8
      run: |
        flake8 validator
    - name: Lint with mypy
      run: |
        mypy validator --ignore-missing-imports
    - name: Test with pytest
      run: |
        pytest --cov=validator --cov-fail-under=100 --cov-report term-missing:skip-covered
